<launch>
  <!-- Wrapper vom MoveIt-Gazebo-Demo starten -->
  <include file="$(find sp3_panda_ctrl)/launch/panda_demo_gazebo.launch"/>

  <!-- CLI-Node starten -->
    <node pkg="sp3_panda_ctrl"
          type="panda_cli_control"
          name="panda_cli_control"
          output="screen"
          respawn="false"
          respawn_delay="5.0"
          launch-prefix="gnome-terminal --tab --"/>
      </launch>